files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_mix_environment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      UMLS_DB_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k UMLS_DB_USERNAME)
      UMLS_DB_URL=$(/opt/elasticbeanstalk/bin/get-config environment -k UMLS_DB_URL)
      UMLS_DB_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k UMLS_DB_PASSWORD)
      MM_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k MM_HOST)
      MM_PORT=$(/opt/elasticbeanstalk/bin/get-config environment -k MM_PORT)
      echo "HELLO ${EB_APP_DEPLOY_DIR}"
      echo "HELLO ${UMLS_DB_USERNAME}"
      echo "export UMLS_DB_USERNAME=${UMLS_DB_USERNAME}" >> ${EB_APP_DEPLOY_DIR}/.env
      echo "export UMLS_DB_URL=${UMLS_DB_URL}" >> ${EB_APP_DEPLOY_DIR}/.env
      echo "export UMLS_DB_PASSWORD=${UMLS_DB_PASSWORD}" >> ${EB_APP_DEPLOY_DIR}/.env
      echo "export MM_HOST=${MM_HOST}" >> ${EB_APP_DEPLOY_DIR}/.env
      echo "export MM_PORT=${MM_PORT}" >> ${EB_APP_DEPLOY_DIR}/.env
